body {
  font-family: Roboto, sans-serif;
  color: #2E2F42;

}
.logo {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
    color: #2E2F42;
    line-height: 1.16;
}
.web-in-logo {
  color: #4D5AE5;

}
.header-menu-list {
  list-style-type: none;

}
.header-menu-list .header-menu-link {
  text-decoration: none;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
}
.contacts-list {
  list-style-type: none;

}
.contacts-list .contact-link {
  text-decoration: none;
  font-style: normal;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404BBF;
}
.contact-link:hover,
.contact-link:focus {
  color: #404BBF;
}
.first-section {
  background-color: #2E2F42;

}
.h1-title {
  color: white;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
}
.order-button {
  color: white;
  background-color: #4D5AE5;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
}
.order-button:hover,
.order-button:focus {
  background-color: #404BBF;
}
.features-list {
  list-style-type: none;
}
.features-header {
  color: #2E2F42;
  font-size: 20px;
  line-height: 1.2;
}
.features-text {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
}
.section-header {
  text-align: center;
    line-height: 1.11;
}
.team-list {
  list-style-type: none;
}
.team-header {
  font-size: 20px;
    line-height: 1.5;
}
.team-text {
  font-size: 16px;
  color: #434455;
    line-height: 1.2;
}
.portfolio-list {
  list-style-type: none;;
}
.portfolio-header {
  line-height: 1.5;
}
.portfolio-text {
  color: #434455;
  line-height: 1.2;
}
footer {
  background-color: #2E2F42;
}
.footer-logo {
  color: white;
  text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
      line-height: 1.16;
}
.footer-text {
  color: #F4F4FD;
  font-size: 16px;
    line-height: 1.5;
}